---
---


@import 'custom/custom';
@import 'bootstrap/bootstrap';

.grid-item {
	float: left; 
	cursor: pointer;
}
.grid-item:hover { 
	outline: 2px solid white;
	z-index: 100;
}

.grid-sizer{ width: 25%}

.black{
	filter: invert(100%);
}


