/* 
backround colors 
*/ 

.sv-bg-red{
    background-color: $sv-red;
}

.sv-bg-deep-red{
    background-color: $sv-deep-red;
}

.sv-bg-blue{
    background-color: $sv-blue;
}

.sv-bg-orange{
    background-color: $sv-orange;
}

.sv-bg-pale{
    background-color: $sv-pale;
}

/* 
text colors 
*/ 

.text-red{
    color: $sv-red;
}

.text-deep-red{
    color: $sv-deep-red;
}

.text-blue{
    color: $sv-blue;
}

.text-orange{
    color: $sv-orange;
}

.text-pale{
    color: $sv-pale;
}

.text-black{
    color: black;
}