.bg-sv-blue{
    background-color: $sv-blue;
}

.bg-black{
    background-color: black;
}

svg{
    .sv-black-fill{
        fill: black;
    }
    
    .sv-white-fill{
        fill: white;
    }
}

.uehara {
    background-image: url("/visual\ identity/uehara.svg");
    height: 100%;
}
