.blink {
    color: white;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.mono {
font-family: "monospace";
font-weight: 100;
}

.sc-size{
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
}
