a,a:hover,a:active,a:visited{
    text-decoration: none !important;
}


body {
    font-size: 16px !important;
    font-weight: 100;
}

.blink {
    color: white;
    animation: blinker 1s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.typewriter {
    font-family: "typewriter";
    
}

.merriweather {
    font-family: "merriweather";
    
}

.sc-size{
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

body {

    font-size: 14px;
    font-weight: 100;
    max-width: 100vw;
    overflow-x: hidden;
}

.full-width {
    width: 100vw;
}

.full-height {
    min-height: 100vh;
}


.logo:hover{
    transform: scale(1.2);
}

.s-align{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.v-align{
    position: relative;
    top: 50%;
    -webkit-transform:  perspective(1px) translateY(-50%);
    -ms-transform:  perspective(1px) translateY(-50%);
    transform:  perspective(1px) translateY(-50%);
    
}

.kevyan {
    position: relative;
}

.kevyan::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #191919 ;
    background-image: url("/svg/models/kevyan\ decorated.svg") ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%) opacity(.25);
}

.kevyan-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
}

.hs-100{
    height: 100vh;
}

.white-link, .white-link:active, .white-link:visited {
    text-decoration: none;
    color: white;
}

.white-link:hover{
    text-decoration: none;
    color: #808080
}

.menu-link{
    font-size: 1.05rem;
    height: 100%;
}

.menu-link:hover {
    background-color: #404040;
}

#about{
    color: #bbbbbb;
}


.greyscale{
    filter: grayscale(100%);
}

.body-alt{
    background-color: #212121;
    color: white;
}