<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
    <div>
      {% if include.sticky == 'true' %}
      <span class="catalogue-pinned" style="color: CornflowerBlue">Fixado &middot;</span>
      {% endif %}
      <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%d / %m / %Y" }}</time>
      <h1 class="catalogue-title">{{ post.title }}</h1>
      <div class="tag-list">
        Tags: 
        {% for tag in post.tags%}
          {% if tag == "Apresentação" %}
            <div class="tag tag-apresentacao"> {{ tag }} </div>
          {% elsif tag == "Poesia"%}
            <div class="tag tag-poesia"> {{ tag }} </div>
          {% elsif tag == "MS"%}
            <div class="tag tag-MS"> {{ tag }} </div>
          {% elsif tag == "Artes"%}
            <div class="tag tag-artes"> {{ tag }} </div>
          {% elsif tag == "RPG"%}
            <div class="tag tag-RPG"> {{ tag }} </div>
          {% elsif tag == "CoC"%}
            <div class="tag tag-CoC"> {{ tag }} </div>
          {% elsif tag == "Pantanal"%}
            <div class="tag tag-Pantanal"> {{ tag }} </div>
            {% elsif tag == "Violão"%}
            <div class="tag tag-Violao"> {{ tag }} </div>
          {% else %}
            <div class="tag tag-default"> {{ tag }} </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="catalogue-line">
      </div>
  
      <p>
        {% if post.excerpt_separator %}
          {{ post.excerpt | strip_html }}
        {% else %}
          {{ post.content | strip_html | truncatewords: 30 }}
        {% endif %}
      </p>
  
    </div>
  </a>
  