$tag-apresentacao:      CadetBlue !default;
$tag-default:           DimGrey;
$tag-poesia:            coral;
$tag-MS:                RoyalBlue;
$tag-artes:             Crimson;
$tag-CoC:               DarkMagenta;
$tag-RPG:               GoldenRod;
$tag-Pantanal:          DarkGreen;
$tag-Violao:            #937D6F;

body {
    color: #202020;
}

// pra listagem dos post
.tag-list{
    padding-bottom: 4px;
}


// pra listagem dos post
.tag{
    display: inline-block;
    margin: 0 0.1rem 0.2rem;
    padding: 0.2rem 0.5rem;
}

// Overide o do "tags" do tema pra tirar as borda.
.tags{
    a {
        border-radius: 0px !important;
    }
}

// Tags especificas

.tag{
    
    &-apresentacao{
        background-color: $tag-apresentacao !important;
        color: white !important;
    }

    &-poesia{
        background-color: $tag-poesia !important;
        color: white !important;
    }

    &-MS{
        background-color: $tag-MS !important;
        color: white !important;
    }

    &-artes{
        background-color: $tag-artes !important;
        color: white !important;
    }

    &-default{
        background-color: $tag-default !important;
        color: white !important;
    }

    &-CoC{
        background-color: $tag-CoC !important;
        color: white !important;
    }

    &-Pantanal{
        background-color: $tag-Pantanal !important;
        color: white !important;
    }

    &-RPG{
        background-color: $tag-RPG !important;
        color: white !important;
    } 

    &-Violao{
        background-color: $tag-Violao!important;
        color: white !important;
    }
}


// Somente as cores:

.color{
    &-default{
        color: $tag-default !important;
    }

    &-apresentacao{
        color: $tag-apresentacao !important;
    }

    &-poesia{
        color: $tag-poesia !important;
    }

    &-artes{
        color: $tag-artes !important;
    }

    &-MS{
        color: $tag-MS !important;
    }

    &-CoC{
        color: $tag-CoC !important;
    }

    &-Pantanal{
        color: $tag-Pantanal !important;
    }

    &-RPG{
        color: $tag-RPG !important;
    } 

    &-Violao{
        color: $tag-Violao !important;
    }
}



blockquote {
    color: #202020;
    border-left: 0.25rem solid #bdbdbd;
    background-color: #f5f5f5;
    margin: .8rem 0;
    padding: .5rem 1rem;
    
    p {
        color: #202020
    }
      
    @media (min-width: 600px) {
        padding: 0.5rem 5rem 0.5rem 1.25rem;
    }
    
}

.Utterances-wrapper{
    text-align: center !important;
}