<!DOCTYPE html>
<html>
	<head>
		<title>kevyan</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	</head>
	<body class="clearfix m-0 body-alt">	
		<div class="fluid d-inline my-0 align-items-center">
			<nav class="nav justify-content-center sticky-top" style="background-color:#5e5086" >
				<a class="menu-link p-3 text-white"  href="/index.html">About me</a>
				<a class="menu-link p-3 text-white"  href="#">Projects</a>
				<a class="menu-link p-3 text-white"  href="/artworks.html">Designs</a>
			</nav>
		</div>
		{{ content }}
		
		<nav class="nav bg-black justify-content-end py-2 px-3 fixed-bottom">
			<div class="float-right text-white">
				Kevyan Uehara &copy;2018, All rights reserved
			</div>
		</nav>
		
            
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	</body>
</html>
